
.CardAuthor{
    display: inline;
    margin-right: 5px;
}
.CardDate{
    display: inline;
    margin-left: 10px;
}
.CardInfo{
    margin-top:10px;
    margin-bottom: 20px; 
}
.SumGroup{
   
    
}
.SumGroup h2{
    font-size: 30px;
}

.SumGroup a {
    color: black
}

.DarKCard{
    position: absolute;
    z-index: 55;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.35;
    background-color: transparent;
}
