input {
  width: 291px;
  height: 52px;
  border: 1px solid #e1e1e1;
}
input::placeholder {
  color: #b5b5b5;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 921px) {
  input {
    width: 100%;
  }
}

