input {
  width: 291px;
  height: 52px;
  border: 1px solid #e1e1e1;
}
input::placeholder {
  color: #b5b5b5;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 921px) {
  input {
    width: 100%;
  }
}

.articleContent {
  margin-top: 25px;
  text-align: justify;

}

.articleContent ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin:0;
}
.articleContent li {
  margin-left: 25px;
}
@media(max-width:705px){
  .articleContent ul {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    margin:0;
  }
  .articleContent img {
    width: 300px;
    height: 100px;
  }
}